h2 {
    text-align: justify;
    margin: 30px;
}

#today {
    border: solid gray 2px;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
}

.card {
    margin: 10px;
    
}

.card-body {
    background-color: lightslategray;

}

.search-button{
    background-color: skyblue !important;
    border-radius: 5px !important;
    margin: 10px;
    width: 300px;
}

.search-history {
    background-color: lightgrey;
    border-radius: 5px !important;
    margin: 10px
}

.search-history :hover {
    background-color: darkgray;
}

.form-input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

img {
    height: 70px;
    margin: -15px;
    padding: 10px;
}